/* components/WaveBackground.module.css */
.waveContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.waveBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background-image: url('/images/waveBackgroundTopRight.png');
    background-repeat: repeat-x;
    background-position: 0 bottom;
    background-size: 50% auto;
    animation: wave 10s linear infinite;
}

.content {
    position: relative;
    z-index: 1;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}